/* General styles */
.houselineIcon {
  width: 44px;
  height: 44px;
}

.realState, .reis {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}

.realState {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.logo, .name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.logo {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.home, .properties {
  position: relative;
  line-height: 22px;
  text-decoration: none;
color: black;
font-weight: 900;
}
.home:hover{
color: #4a60a1;
}

.properties {
  font-weight: 600;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.navigationRight {
  justify-content: flex-end;
  gap: 36px;
  font-size: 14px;
  color: #0f1320;
}

.navigationRight, .topContainer, .topHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topContainer {
  flex: 1;
  justify-content: space-between;
}
.hamburgerMenuIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.hamburger {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.topHeader {
  height: 60px;
  background-color: #fff;
  justify-content: center;
  padding: 22px 80px;
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 2;
  text-align: center;
  font-size: 24px;
  color: #4a60a1;
  font-family: Inter;
}

/* Mobile styles */
@media screen and (max-width: 1200px) {
  .navigation {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .topHeader {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 960px) {
  .hamburgerMenuIcon {
    display: flex;
  }
  .topHeader {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 420px) {
  .navigationRight {
    display: flex;
  }
}

/* Mobile navigation container */
.navMobContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #fff;
  justify-content: center;
  gap: 30px;
  z-index: 3;
  transition: transform 0.3s ease-in-out;
}

.navMob {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #fff;
  justify-content: center;
  gap:50px;
}

.navMobHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}


.menuOpen {
  transform: translateY(0);
}

.menuClosed {
  transform: translateY(-120%);
}
