/* General styles */
.houselineIcon {
  width: 44px;
  height: 44px;
}

.realState,
.reis {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}

.realState {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.logo,
.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.logo {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.home,
.properties {
  position: relative;
  line-height: 22px;
  text-decoration: none;
  color: black;
  font-weight: 900;
}

.home:hover {
  color: #4a60a1;
}

.properties {
  font-weight: 600;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}

.navigationRight {
  justify-content: flex-end;
  gap: 36px;
  font-size: 14px;
  color: #0f1320;
}

.navigationRight,
.topContainer,
.topHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.topContainer {
  flex: 1;
  justify-content: space-between;
}

.hamburgerMenuIcon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  z-index: 30;
  flex-shrink: 0;
}


.hamburger {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  z-index: 40;
  display: none;
  flex-direction: row;
  align-items: center;
  transform:rotate(180deg);
  justify-content: center;
  transition:all 0.3s;
}
.rotate{
  transform: rotate(0deg);
}

.topHeader {
  height: 60px;
  background-color: #fff;
  justify-content: center;
  padding: 22px 80px;
  box-sizing: border-box;
  position: sticky;
  width: 100%;
  top: 0;
  background: #fff;
  z-index: 2;
  text-align: center;
  font-size: 24px;
  color: #4a60a1;
  font-family: Inter;
}

/* Mobile styles */
@media screen and (max-width: 1200px) {
  .navigation {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .topHeader {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 960px) {
  .hamburgerMenuIcon {
    display: flex;
  }

  .topHeader {
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 420px) {
  .navigationRight {
    display: flex;
  }
}


.navMob {
  transition: all 0.5s;
  transform: translateX(-200%);
  width: 100%;
  height: 100vh;
  background-color: rgb(241, 243, 255);
  padding: 5vmax;
  position: fixed;
  top: 0%;
  z-index: 30;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.button {
  border: 1px solid #16161698;
  padding: 0.5rem 2rem;
  background-color: #eeeeee;
  cursor: pointer;
  color: #16161698;
  letter-spacing: 1px;
  font-weight: 500;
  transition: 0.5s;


}

.button:hover {
  background-color: #16161698;
  color: white;

}

.navMobHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}


.menuOpen {
  transform: translateY(0);
}

.menuClosed {
  transform: translateY(-120%);
}

